* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* layout chung */
h1 {
    font-size: 45px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;
}


/* 1. vị trí
   2.kích thước(widht ,heigh)
   3.màu sắc
   4.kiểu dáng  
 */
.main {
    width: 100%;
    height: auto;
    background-color: white;
    overflow-y: auto;
    position: relative;

}

.header {
    background-color: #fff;
    height: 92px;
    width: auto;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 52px;
    left: 0;
    right: 0;
    position: sticky;
    top: 0;
    z-index: 2000;

}

.head {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 52px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.head .logo {
    font-size: 28px;
    font-weight: 700;
    left: 16px;
    padding: 5px 0px;
    color: #E52F37;
    cursor: pointer;

}


.nav {}

.nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 120px;

}

.nav ul li {
    display: inline-block;
}

.nav ul li a {


    color: #071E55;
    text-decoration: none;
    font-size: 17px;
    transition: color .3s ease;
    padding-right: 5px;
}

.nav ul li a:hover {
    color: #E52F37;
}



.header .head .button button {
    border: 0.1px solid transparent;
    font-size: 17px;
    background-color: #E52F37;
    color: #FFF;
    padding: 14px 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: all .5s ease;
    display: flex;


}

.header .head .button button:hover {
    background-color: white;
    color: #E52F37;
    border: 0.1px solid #E52F37;


}

.section {
    display: block;
}

.home-section {

    position: relative;
    z-index: 999;
    padding-top: 140px;
    padding-bottom: 110px;
    background-image: url(https://demo.epic-webdesign.com/tf-launchpage/v1/images/bg0.jpg);
    background-size: cover;
    background-position: center bottom;
    background-position: center 40%;
    padding-left: 74px;
}

.home-section1 {
    width: 100%;
    background: #000;
    opacity: 0.39;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.container {
    position: relative;
    z-index: 1;
}

.content {
    margin-top: -55px;
}


.home-section h1 {
    margin-bottom: 20px;
    line-height: 1.2;
    color: #fff;
    text-shadow: 1px 1px #373737;

}

.home-section .home-text {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px #373737;
}

.home-video {
    position: relative;
    margin-top: 25px;
}

.home-videotext {
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    text-decoration: underline;

}


.home-section .content {
    width: 540px;
    height: auto;
}

.home-section .container .row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: auto;
    padding-top: 100px;
}

.content .home-form {
    flex: 1;
    padding: 20px;
}

.home-form {

    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: -120px;
    position: relative;
    z-index: 1;
}

.home-form h3 {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}

.home-form p {
    margin-bottom: 25px;
    font-size: 17px;
    color: #555;
}

.register-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    padding-left: 12px 10px;
}

input.register-input,
.select.register-input {
    width: 100% !important;
    height: 52px !important;
    padding: 12px 10px;

    margin-bottom: 15px !important;
    color: #555 !important;
    border: 1px solid #f1f1f1 !important;
    background-color: #f9f9f9 !important;
    font-size: 16px !important;
    border-radius: 5px 5px 5px 5px !important;
}

.register-submit {
    width: 100%;
    padding: 16px;
    background-color: #e52f37;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.register-submit:hover {
    background-color: rgb(45, 214, 45);
}

/* partnes */
.partner-section {
    padding: 40px 0 20px 0;
    background-color: #fff;
}

img.partners {
    opacity: 0.4;
    margin: 10px 15px;
    max-height: 55px;
    transition: all .3s linear;
}

img.partners:hover {
    opacity: 0.8;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;


}

.rowcenter {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-grey {

    background-color: #F1FAFF;
    padding: 90px 0px 100px;
    text-align: center;

}

.what-we-do {
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.section-title {
    color: #071E55;
    margin-bottom: 10px;
    ;
}

.section-subtitle {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;

}

.services-wrapper {
    position: relative;
}

.main-services {
    position: relative;
    margin: 10px 5px;
    overflow: hidden;
    text-align: center;
    transition: all 1s;
}

.main-services:hover {
    transform: scale(1.025);
}

.main-services i {
    margin-bottom: 15px;
    display: inline-block;
    padding: 16px 16px;
    font-size: 40px;
    line-height: 46px;
    width: 75px;
    height: 75px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background-color: #e52f37;
}

.main-services.red i {
    background-color: #e52f37;
}

.main-services.blue i {
    background-color: #1e90ff;
}

.main-services.green i {
    background-color: #27b36a;
}

.main-services h4 {
    margin-bottom: 10px;
    font-size: 21px;

}

.main-services p {
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 17px;
    color: #7c8595;
    width: 300px;
    line-height: 1.5;
    word-wrap: break-word;
}

.section-white {
    padding: 60px 0 70px 0 !important;
}

.btn-discover {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #fff;
    background-color: #e52f37;
    border: 1px solid #e52f37;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.27);
    letter-spacing: 1px;
    border-radius: 23px 23px;
    margin: 5px 10px 10px 0;
    padding: 18px 20px;
    display: inline-block;
    transition: all 0.4s ease-in-out;


}

.btn-discover:hover {
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    background: #e52f37;
}



ul.benefits {
    margin-bottom: 20px;
    color: #7c8595;
    list-style-type: none;
}

ul.benefits li {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 8px;

}

ul.benefits li i {
    font-size: 18px;
    line-height: 18px;
    margin-right: 1px;
    color: #e52a3d;
}

.discover-textright {
    width: 570px;
    height: 353px;
    position: relative;
    width: 100%;

    padding-right: 15px;
    padding-left: 30px;
}

.discover-textright p {
    color: #7c8595;
}

.discover-slideleft {
    position: relative;
    width: 100%;

    padding-right: 10px;
    padding-left: 74px;
}

.features-second {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.dropcaps-circle {
    float: left;
    margin: 1px 25px 10px 0;
    background-color: #fcfcfc;
    border: 1px solid #eaeaea;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    color: #017df7;
    font-size: 40px;
    line-height: 80px;
    position: relative;
    border-radius: 50%;
}

.dropcaps-circle.blue {
    color: #1e90ff;
}

.dropcaps-circle.red {
    color: #e52f37;
}

.dropcaps-circle.green {
    color: #27b36a;
}

.features-second h4 {
    margin-top: 10px;
    font-size: 21px;
}

.features-second p {
    margin-bottom: 10px;
    color: #7c8595;
}

.features-second {
    margin: 10px 0;
    display: inline-block;
    transition: all 0.45s ease-in;

}

.features-second:hover {
    background-color: #FFFFFFFF;
    cursor: pointer;
}

.section-redcard-1 {
    background: url(https://demo.epic-webdesign.com/tf-launchpage/v1/images/bg3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 110px 0;
    text-align: center;

}

.section-redcard-1 .container .row {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    text-align: center;
    gap: 80px;

}

.section-redcard-overlay {
    width: 100%;
    background: #e52f37;
    opacity: 0.95;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.white-text {
    color: #fff;

}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;

}

.far,
.fas {
    font-size: 45px;
    line-height: 60px;
}

.fun-facts-title span {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    gap: 10px;
}

.card-body {
    padding: 20px 25px 5px 25px;
    border-top: none;
    border-left: 6px solid #27b36a;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #7c8595;
    font-style: italic;
}
.card-header {
    max-width: 100%;
    position: relative;
    padding: 15px 25px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
    border-left: 6px solid #27b36a;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.card {
    position: relative;
    margin: 20px 0;
    border: none;
    background-color: #fff !important;

}
img.testim-img {
    float: left;
    margin-right: 15px;
    max-width: 65px;
    border-radius: 50%;
   
}
img {
    vertical-align: middle;
    border-style: none;
}
.card-header h5 .btn-link p {
    font-family: 'Nunito', sans-serif;
    margin-top: 15px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    color: #071e55;
    text-align: left !important;
    background-color: transparent;
}
.card-header h5 .btn-link p span {
    font-size: 17px;
    color: #27b36a;
}
p.testim-name {
    display: inline-block;
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-sm-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.con-md-1{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}
.align-items-center .col-md-5  p {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;

}
.testim-platform p {
    margin-bottom: 5px !important;
    font-weight: bold !important;
    color: #071e55 !important;
}
.testim-rating {
    margin-bottom: 30px;
}
.testim-rating i {
    color: #fdcc28;
}
.section-white {
    background: #fff;
    padding: 90px 0 100px 0;
}

.portfolio-left {
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.Fivepic {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 74px;
}

.Fivepic img {
    width: 100%;
    height: auto;
}

.Twopic {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Twopic img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    transition: all .3s linear;

}

.Fivepic {
    position: relative;
    overflow: hidden;

}

.Fivepic img:hover::before,
.Twopic img:hover::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 5px solid rgba(229, 47, 55, 0.5);
    z-index: 20;
}

/* .Fivepic img:hover::after,
.Twopic img:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 47, 55, 0.5);
    z-index: 20;
} */
.meet-our-team {
    display: inline-block;
    text-align: center;
    justify-content: center;
}



.services-wrapper.container.row {
    padding: 74px;

    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;

    flex: 1 1 300px;


}

.team-item {
    padding: 10px 25px 30px 25px;
    background-color: #fff;
    border: 1px solid #e5efff;
    border-top: none;
    text-align: center;
    transition: all 1s;
    border-radius: 0 0 8px 8px;
    transition: all 0.25s ease-in-out;
}

.team-item h3 {
    margin: 20px 0 1px 0 !important;
    color: #454545;
    font-size: 18px;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
}

.team-info {
    display: block;
    margin-bottom: 0;
}

.team-info p {
    color: #acacac;
    font-style: italic;
}

.team-info::after {
    background: #e52f37;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 50px;
    height: 3px;
    margin-top: -20px;
}

/* .picture img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
 
  margin-bottom: 15px;
}
.services-wrapper.container.row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: stretch; 
    height: auto;
    
    
}*/
.services-wrapper .container .row {
    padding: 74px;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: #e52f37;
    color: #FFF;
    position: relative;
    overflow: hidden;



}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/bg3.jpg') no-repeat center center/cover;
    opacity: 0.05;
    z-index: 1;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.hero-content {
    position: relative;
    z-index: 2;

}

.hero-content h1 {
    font-size: 38px;

    color: #FFFFFF;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.btn-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    /* text-transform: uppercase; */
    transition: background-color 0.3s;
}

.btn-primary {
    background: white;
    color: red;
}

.btn-primary:hover {
    background: #f5f5f5;
}

.btn-secondary {
    background: transparent;
    color: white;
    border: 2px solid white;
}

.btn-secondary:hover {
    background: white;

    color: red;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.feature-box {
    overflow: hidden;
    margin: 40px 0 0 0;
}

.feature-box i {
    float: left;
    font-size: 50px;
    line-height: 50px;
    width: 55px;
    height: 55px;
    text-align: center;
    color: #50a0d2;
}

.feature-box.light-blue i {
    color: #50a0d2;
}

.feature-box.dark-blue i {
    color: #3473b8;
}

.feature-box.light-green i {
    color: #a9d129;
}

.feature-box.dark-green i {
    color: #87ac34;
}

.feature-box.orange i {
    color: #fe9c24;
}

.feature-box.light-red i {
    color: #fc6a3f;
}

.feature-box.pink i {
    color: #ea4c89;
}

.feature-box-text {
    float: left;
    width: 75%;
    margin-left: 30px;
}

.feature-box h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-box p {
    color: #7c8595;
}

.section-grey.container.row {
    display: flex;
    padding: 74px;
}

.allicon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 74px;
}

.section-grey {}

#pricing {
    padding: 74px;

}

.col-md-4 {
    text-align: left;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.align-items-center {
    align-items: center !important;
}

.price-box-white {
    text-align: center;
    background-color: #fff;
    border: 1px solid #dde9fb;
    box-shadow: 0 12px 55px 0 rgba(0, 0, 0, .05);
    padding: 50px 20px;
    width: 90%;
    margin-top: 30;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 8px 8px;
    transition: all 0.3s ease-in-out;
}

.price-box-white:hover {
    transform: scale(1.05);
}

ul.pricing-list li.price-title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

ul.pricing-list li.price-value {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    line-height: 70px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul.pricing-list li.price-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

ul.pricing-list li.price-tag a {
    color: #e52f37;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 23px 23px;
    padding: 15px 30px;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    margin: 40px 0 30px 0;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.price-box-white ul.pricing-list li.price-tag a:hover {
    color: #fff;
}

.price-box-grey ul.pricing-list li.price-tag a:hover {
    color: #fff;
    background: #e52f37;
}

ul.pricing-list li.price-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 5px;
}

ul.pricing-list li.price-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #6A6A6A;
}

.price-box-grey {
    text-align: center;
    background: #e52f37;
    border: 2px solid #e52f37;
    box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
    padding: 50px 20px;
    width: 90%;
    margin: 30px 0 20px 20px;

    border-radius: 8px 8px;
    transition: all 0.3s ease-in-out;

}

.price-box-grey:hover {
    transform: scale(1.05);
}

ul.pricing-list li.price-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 5px;
}

.price-box-grey .price-title,
.price-box-grey ul.pricing-list li.price-value {
    color: #fff;
}

.price-box-grey .price-subtitle,
.price-box-grey .price-text {
    color: #fff !important;
}

.faq-box h5 {
    margin-bottom: 7px;
}

.section-white .container .row {
    padding: 15px 74px;
}

.section-bg-2 {
    background: url(https://demo.epic-webdesign.com/tf-launchpage/v1/images/bg3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 120px 0;
}

.section-bg-overlay {
    width: 100%;
    background: #e52f37;
    opacity: 0.95;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-center p {
    color: #fff;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.contact-input {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.contact-input::placeholder {
    color: #ffffff;
    opacity: 0.8;
}

select.contact-input option {
    color: rgb(63, 52, 52);
    background-color: #ffffff;
}

select.contact-input:focus {
    color: #3b3636;
}

.col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    flex: 0 0 50%;
    max-width: 50%
}

.col-md-12 {

    flex: 0 0 100%;
    max-width: 100%
}

input.contact-input,
select.contact-input {
    width: 100%;
    height: 56px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 15px;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 16px;
    border-radius: 5px 5px;
}

textarea.contact-input {
    border: 2px solid #fff;
}

textarea,
input {
    height: 145px;
    margin-bottom: 12px;
    width: 97%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 16px;
    border-radius: 5px 5px;
}

textarea {
    overflow: auto;
    resize: vertical;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input.contact-submit {
    background: #fff;
    border: none;
    color: #e52f37;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    width: 100%;
    max-width: 300px;
    padding: 20px 0;
    text-transform: uppercase;
    border-radius: 6px 3px;
    transition: all .50s ease-in-out;
}

.justify-content-md-center {

    justify-content: center !important;
}

.col-md-8 {

    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.margin-top-10 {
    margin-top: 10px;
}

.contact-form-wrapper {
    margin-top: 25px;
}

p.contact_success_box {
    display: inline-block;
    color: #fff;
    border: 1px solid #eee;
    padding: 25px 25px;
    font-size: 19px;
    text-shadow: none;
    font-style: italic;
    border-radius: 8px 8px;
    margin: 15px 0;
}

.contact-form-wrapper p {
    margin-bottom: 25px;
    font-size: 17px;
}













.footer {}